.floe-inferredView-form {
    border-bottom: 1px dotted;
}

.floe-inferredView-wrapper {
    margin: 1em 0 1em 0;
}

.floe-inferredView-name-wrapper label {
    font-weight: bold;
}

.floe-inferredView-age-wrapper label {
    font-style: italic;
}

.floe-inferredView-biography-wrapper label {
    font-weight: bold;
}

.floe-inferredView-biography-wrapper textarea {
    display: block;
    width: 20em;
    height: 10em;
}

.floe-inferredView-wrapper legend {
    font-weight: bold;
}
