.floe-labHeader {
    color: rgb(231,231,231);
    background-color: rgb(41,57,63);
    height: 5em;
    padding: 1em;
}

.floe-labHeader-title {
    position: absolute;
    left: 1em;
}

.floe-labHeader-title h1 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
}


.floe-labHeader-accountInfo {
    position: absolute;
    right: 1em;
}

.floe-labHeader-accountInfo h2 {
    margin: 0;
    padding-top: 3em;
    font-size: 1em;
}

.floe-labHeader-userChange {
    background-color: inherit;
    border-width: 0;
    width: 5em;
}

.floe-labHeader h1:before {
    content:url('/src/img/logo-m3l.png');
    margin-right: 0.5em;
    position: relative;
    top: 0.7em;
}

.floe-labPanelsContainer {
    float: left;
    clear: both;
    width: 80%;
    margin: 2em 10% 0 10%;
}

.floe-labPanel {
    float: left;
    margin: 0.5em;
    padding: 0;
    box-sizing: border-box;
}

.floe-notesPanel {
    width: calc(70% - 2em);
    background-color: rgb(228, 235, 234);
}

.floe-goalsPanel {
    width: calc(30% - 2em);
    background-color: rgb(229, 231, 218);
}

.floe-goalsPanel li {
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    padding: 0.25em;
    margin: 0;
    border-radius: 0.5em;
}

.floe-goalsPanel li:nth-child(odd) {
    float: left;
    width: 47%;
    clear: left;
}

.floe-goalsPanel li:nth-child(even) {
    float: right;
    width: 47%;
    clear: right;
}

.floe-timelinePanel {
    clear: both;
    width: calc(100% - 3em);
}

.floe-headingContainer {
    display: flex;
}


.floe-labPanel-hideContainer {
    background-color: rgb(41,57,63);
    width: 2.4em;
    text-align: center;
    float: left;
}

.floe-labPanel-hideControl {
    font-size: 2.4em;
    text-decoration: none;
    color: rgb(34,127,131);
}

.floe-heading {
    flex-grow: 1;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
    font-weight: normal;
}

.floe-notesPanel .floe-heading {
    background-color: rgb(34, 143, 148);
}

.floe-goalsPanel .floe-heading {
    background-color: rgb(34, 131, 109);
}

.floe-timelinePanel .floe-heading {
    background-color: rgb(34, 106, 131);
}

.floe-notes {
    padding: 0 1em 1em 1em;
}

.floe-goals {
    padding: 0 1em 0 0;
}

.floe-notes h2, .floe-goals h2 {
    font-size: 1.2em;
    color: rgb(107, 170, 172);
}

.floe-journalEntriesContainer {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em 0 1em 0;
}

.floe-journalNavContainer a {
    text-decoration: none;
}

.hidden
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}

.floe-entryList li {
    margin-bottom: 1em;
    list-style: none;
    margin-left: -1em;
}

.floe-entry-icon {
    font-size:150%
}

.floe-mood-commentArea {
    width: 100%;
}

.floe-navArrow {
    letter-spacing: -0.4em;
    display: inline-block;
}

.floe-page-today {
    display: inline-block;
    border: 1px solid rgb(107, 170, 172);
    border-radius: 0.5em;
    background-color: rgb(240,240,240);
    padding: 0.4em 1em;
    margin: 0 0.4em;
}

.floe-mood-icon:before {
    content:url('/src/img/icon-note.png');
}

.floe-goal-icon:before {
    content:url('/src/img/icon-goal.png');
}
